* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #404042;
  height: 150px;
  text-align: center;
  width: 100%;
}

h1 {
  color: #DD1972;
  display: block;
  font-size: 50px;
  margin-bottom: 10px;
  border-bottom: 2px solid white;
  z-index: 1;
}

.skinny-font{
  font-weight: 300;
}

h3 {
  color: white;
  display: absolute;
  font-size:; 
  font-weight: 300;
  margin-top: 1px;
  z-index: 5;
}

main {
  display: flex;

}

.left {
  background-color: #F7F7F7;
  border-right: 1px solid #404042;
  width: 50%;
}

form {
  background-color: white;
  border: 2px solid #AAAAAA;
  margin: 15px;
  padding: 10px;
}

h4 {
  color: #404042;
  font-size: 20px;
  font-weight: 700;
}

input {

}

button {

}

span {

}

#button-submit {

}

#button-reset {

}

#button-clear {

}

article {

}

h2{

}

.right {
  background-color: #AAAAAA;
  border-left: 1px solid #404042;
  width: 50%;
}

#challenger-1-name {

}

#challenger-2-name {

}

#winner-name{

}

img {

}
