* {
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #404042;
  box-sizing: border-box;
  height: 150px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  width: 100%;
}

h1 {
  border-bottom: 2px solid white;
  color: #DD1972;
  display: block;
  font-size: 50px;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
  z-index: 1;
}

.skinny-font{
  font-weight: 300;
}

h3 {
  color: white;
  display: absolute;
  font-size:; 
  font-weight: 300;
  margin-top: 1px;
  text-decoration: line-through;
  z-index: 5;
}

main {
  display: flex;

}

.left {
  background-color: #F7F7F7;
  border-right: 1px solid #404042;
  width: 50%;
}

form {
  background-color: white;
  border: 2px solid #AAAAAA;
  margin: 15px;
  padding: 10px;
}

.ranges {
  display: flex;
}

.min-range-input {
  display: block;
  float: left;
}

.max-range-input {
  display: block;
  float: right;
}

p {
  margin: 0px;
}

input {
  display: inline;
  height: 30px;
  width: 150px;
}

#form-top {
  height: 150px;
}

#form-bottom {
  /*display: flex;*/
  flex-direction: column;
  height: 300px;
}

h4 {
  color: #404042;
  font-size: 18px;
  font-weight: 700;
  margin: 1px;
}

.challenger-1-all {

}

.challenger-1-input-name {
  float: left;
}

.chellenger-input-1-guess {
  float: right;
}

.form-info-name {
  display: block;
}

.challenger-2-all {

}

.challenger-2-input-name {
  float: left;
}

.challenger-input-2-guess {
  float: right;
}

.form-info-guess {
  display: block;
}

.input-name {
  display: inline-block;
  height: 30px; 
  width: 300px;
}

.input-guess {
  display: inline-block;
  height: 30px;
  width: 200px;
}

.update-button {
  background-color: #808185;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  height: 30px;
  margin-left: 66%;
  width: 30%;
}

.underline {
  font-weight: 700;
  text-decoration: underline;
}

.form-info {
  display: inline;
  margin: 0px;
}

#button-submit {
  background-color: #808185;
  border-radius: 20px;
  color: white;
  display: inline-block;
  font-size: 16px;
  height: 35px;
  margin: 5px;
  padding: 5px;
  width: 25%;
}

#button-reset {
  background-color: #808185;
  border-radius: 20px;
  color: white;
  display: inline-block;
  font-size: 16px;
  height: 35px;
  margin: 5px;
  margin-left: 25px;
  padding: 5px;
  width: 25%;
}

#button-clear {
  background-color: #808185;
  border-radius: 20px;
  color: white;
  display: inline-block;
  font-size: 16px;
  height: 35px;
  margin: 5px;
  padding: 5px;
  width: 25%;
}

.latest-score {
  border: 2px solid #D0D1D3;
}

#latest-score-left {
  float: left;
  height: 250px;
  margin: 15px;
  padding: 10px;
  width: 45%;
}

#latest-score-right {
  float: right;
  height: 250px;
  margin: 15px;
  padding: 10px;
  width: 45%;
}

.guess-challenger-name{
  color: #D0D2D3;
  font-weight: 700;
  margin: 0px;
  text-align: center;
}

#guess-challenger-name-right {
  margin-top: 27px;
}

.current-guess-text {
  text-align: center;
  margin: 2px;
}

.previous-guess {
  color: #F74D9B;
  font-size: 90px;
  font-weight: 700;
  margin: 2px;
  text-align: center;
}

.feedback {
  text-align: center;
  margin: 2px;

}

/*right side*/

.right {
  background-color: #DADBDD;
  border-left: 1px solid #404042;
  width: 50%;
}

article {
  background-color: white;
  border: solid 2px #c1bfbf;
  color: #808185;
  margin-bottom: 10px;
  margin-top: 13px;
  margin-right: 30px;
  margin-left: 30px;
  padding: 10px;
}

.winner-card-header { 
  align-items: center;  
  display: flex;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#challenger-1-name {
  color: #6E6E6E;
  font-size: 12px; 
  font-weight: 700;
  text-align: center; 
}

.vs {
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center; 
}

#challenger-2-name {
  color: #6E6E6E;
  font-size: 12px; 
  font-weight: 700;
  text-align: center; 
}

#winner-name {
  border-top: 2px solid #ededed;
  padding-top: 15px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-align: center; 
}

.winner-ticket {
  border-bottom: 2px solid #ededed;
  font-weight: 300;
  padding-bottom: 13px;
  padding-top: 0px;
  margin-top: 0px;
  text-align: center;
}

.winner-card-footer { 
  display: flex;
  justify-content: flex-start;
  margin-top: 0px;
  padding-top: 0px;
}

.feedback {
  font-size: 12px; 
  font-weight: 300;
  width: 33%;
}

.span-feedback{
  font-weight: 700;
}

/*add to HTML as: <span class="close-button">x</span>*/

.close-button {
  color: #DADBDD;
  background-color: #6E6E6E;
  border-radius: 50%;
  font-size: 16px;
  width: 33%;
}
/*need to add to HTML*/
